body{
    margin-top: 200px;
}
header{
    background-color: rgb(248, 203, 225);
    padding: 20px;
    text-align: center;
}

#carrosel{
    border: solid 2px;
    border-radius: 15px;
    width: 640px;
    height: 500px;
    overflow: hidden;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



#fotos{
    width: 1600%;
    animation: animacao 40s infinite;
}
#fotos img{
    width: 100%;
    height: 100%;
}

@keyframes animacao{
    0%{margin-left:0 ;}
    3%{margin-left: 0;}
    11%{margin-left: -100%;}
    13%{margin-left: -100%;}
    20%{margin-left: -200%;}
    23%{margin-left: -200%;}
    30%{margin-left: -300%;}
    33%{margin-left: -300%;}
    40%{margin-left: -400%;}
    43%{margin-left: -400%;}
    50%{margin-left: -500%;}
    53%{margin-left: -500%;}
    60%{margin-left: -600%;}
    63%{margin-left: -600%;}
    70%{margin-left: -700%;}
    73%{margin-left: -700%;}
    80%{margin-left: -800%;}
    83%{margin-left: -800%;}
    90%{margin-left: -900%;}
    93%{margin-left: -900%;}
    100%{margin-left: -1000%;}
}   